/* Sidebarfeeds.css */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50,200..900&family=Playwrite+HU:wght@100..400&family=Rubik+Mono+One&display=swap');
/* Sidebar styles for the right sidebar (duplicate nav) */
.sidebarfeeds {
  max-width: 350px;
  width: 100%;  /* Fixed width for the sidebar */
  background-color: #bae8e5;  /* Dark blue background */
  color: #15243b;
  padding: 20px;
  position: fixed;  /* Fixes the sidebar on the right side */
  top: 0;  /* Sticks it to the top of the screen */
  right: 0;  /* Aligns the sidebar to the right */
  border-left: 2px solid #15243b;  /* Border between sidebar and content */
  height: 100vh;  /* Makes the sidebar full height */
  font-family: 'Inconsolata', monospace;
  overflow-y: auto;  /* Allows scrolling inside the sidebar if content overflows */
}

.sidebarfeeds h3 {
  text-align: center;
  color: #15243b;
}

.sidebarfeeds nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sidebarfeeds nav a {
  color: #4fa3f7;
  text-decoration: none;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.sidebarfeeds nav a:hover {
  color: #0a7eff;
}

.my-app{
  font-family: "Playwrite HU", cursive;
}

.menu-item {
  display: none;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
@media (min-width: 1000px) and (max-width: 1400px) {
  .sidebarfeeds {
    max-width: 225px;
  }
}

@media (max-width: 1000px) {
  .sidebarfeeds {
    max-width: 30px;
  }
  .menu-item {
    display:block;
  }
  .title-nav h1 {
    display: none; 
  }

  .icon {
    font-size: 28px;
  }

  .my-app {
    display: none;
  }
}