/* Sidebarfeeds.css */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50,200..900&family=Playwrite+HU:wght@100..400&family=Rubik+Mono+One&display=swap');
/* Sidebar styles for the right sidebar (duplicate nav) */
.sidebarfeeds {
  max-width: 350px;
  width: 100%;  /* Fixed width for the sidebar */
  background-color: #ffc;  /* Dark blue background */
  color: #15243b;
  padding: 20px;
  position: fixed;  /* Fixes the sidebar on the right side */
  top: 0;  /* Sticks it to the top of the screen */
  right: 0;  /* Aligns the sidebar to the right */
  border-left: 2px solid #15243b;  /* Border between sidebar and content */
  height: 100vh;  /* Makes the sidebar full height */
  font-family: 'Inconsolata', monospace;
  overflow-y: auto;  /* Allows scrolling inside the sidebar if content overflows */

  .my-app {
    text-align: center;
    font-family: 'Playwrite HU', sans-serif;
    padding-bottom: 20px;
    border-bottom: #15243b 2px solid;
    margin-bottom: 20px;
  }

  .title-nav {
    display: flex;
    flex-direction: column;

    a {
      margin: 10px 0;
      border-bottom: #15243b 1px solid;
      padding: 5px;
    }
  }

  .friends {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

    button {
      border: none;
      background-color: white;
      border-radius: 0;
      color: black;
      border: 1px solid black;
    }
  }
}



@media (min-width: 1000px) and (max-width: 1400px) {
  .sidebarfeeds {
    max-width: 225px;
  }
}

@media (max-width: 1000px) {
  .sidebarfeeds {
    max-width: 30px;
  }
  .menu-item {
    display:block;
  }
  .my-app {
    display: none; 
  }

  
}