.profile-container {
  display: flex;
}

.profile-content {
  margin-left: 250px; /* Adjust based on sidebar width */
  flex-grow: 1;
  padding: 20px;
}

@media (max-width: 1000px) {
  .profile-container {
    margin-left: -180px;
  }
}
